body
{
    font-family: 'Nunito', sans-serif;
    padding-top: 74px;
    background-color: #fcf7ff;
}
.dash-nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background-color: #fff;
}

.dash-nav .nav-left .logo
{
    width: 40%;
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.dash-nav .nav-right .list-parent
{
    margin: 0;
    list-style: none;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.dash-nav .nav-right .list-parent .list-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}

.dash-nav .nav-right .list-parent .list-item:hover
{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.wiz-section .big-sidebar
{
    position: fixed;
    top: 74px;
    right: 0;
    width: 255px;
    height: 100vh;
    background-color: #fff;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.side-content
{
    margin: 1rem 0rem;
    padding: 0;
    z-index: 100;
    list-style: none;
}

.side-content .side-item
{
    padding: 0.7rem 1.5rem;
    color: #000;
    font-weight: 600;
    transition: 0.1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.side-content .side-item .list-icon
{
    font-size: 18px;
}

.side-content .side-item .list-caption
{
    margin: 0rem 0.5rem;
    font-size: 18px;
}

.side-content .side-item:hover
{
    color: #F24E1E;
    background-color: rgba(242, 78, 30, 0.06);
    cursor: pointer;
    border-right: 3px solid #F24E1E;
    box-sizing: border-box;
}

.side-content .side-item:hover .list-caption
{
    font-weight: 700;
}


.home-content .pending-orders .pending-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-nav .dropdown
{
    padding: 1.3rem !important;
    height: 100%;
}

.upload-legal .legal-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(242, 78, 30, 0.06);
    padding: 0.5rem 1rem;
}

.upload-legal .legal-body
{
    background-color: #fff;
    padding: 1rem;
}

.upload-legal .legal-head h4
{
    color: #F24E1E;
    font-weight: bolder;
    margin: 0;
}

.right-aside
{
    position: sticky;
    top: 500px;
}

.aside .help-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside .help-head h5
{
    font-weight: bolder;
    color: #F24E1E;
    margin: 0;
}

@media only screen and (max-width: 1500px) {
    .wiz-section .big-sidebar
    {
        width: 220px !important;
    }
}

@media only screen and (max-width: 1282px) {
    .wiz-section .big-sidebar
    {
        width: 200px !important;
    }
}

@media only screen and (max-width: 1148px) {
    .wiz-section .big-sidebar
    {
        width: 170px !important;
    }
}

.wiz-card
{
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}

.wiz-card-paddingless
{
    background-color: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}
/*box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);*/



.wiz-primary {
    outline: none;
    border: none;
    padding: 0.2rem 0.3rem;
    background-color: rgba(34, 181, 165, 0.8);
    color: #fff;
    border-radius: 3px;
    transition: 0.1s;
}
.wiz-primary:active {
    transform: scale(0.9);
    outline: none;
}

.wiz-primary:focus {
    outline: none;
}

.wiz-primary:hover {
    background-color: rgba(34, 181, 165, 0.5);
}

.wiz-primary:disabled {
    cursor: not-allowed;
}


.wiz-danger {
    outline: none;
    border: none;
    padding: 0.2rem 0.3rem;
    background-color: rgba(220, 53, 69,0.1);
    color: #dc3545;
    border-radius: 3px;
    transition: 0.1s;
}

.wiz-danger:active {
    transform: scale(0.9);
    outline: none;
}

.wiz-danger:focus {
    outline: none;
}

.wiz-danger:hover {
    cursor: pointer;
    background-color: rgba(242, 78, 30, 0.3);
}


.wiz-danger:disabled {
    cursor: not-allowed;
}




.wiz-warning {
    outline: none;
    border: none;
    padding: 0.2rem 0.3rem;
    background-color: rgba(255, 237, 74, 0.4);
    color: #000;
    border-radius: 3px;
    transition: 0.1s;
}

.wiz-warning:active {
    transform: scale(0.9);
    outline: none;
}

.wiz-warning:focus {
    outline: none;
}

.wiz-warning:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, 0.1);
}


.wiz-warning:disabled {
    cursor: not-allowed;
}


/*#FFED4A*/

.sticky-top
{
    z-index: 1 !important;
}

/* side bar*/

.side-layer
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    z-index: 2000 !important;
    display: none;
}
.side-layer .side-bar
{
    position: relative;
    left: -100%;
    top: 0;
    background-color: #fff;
    width: 80vw;
    height: inherit;
}