body
{
    overflow-x: hidden;
}


.register-part
{
    min-height: 100vh;
}

.bg-img
{
    background-image: url("../images/register-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.bg-img .img-overlayer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bg-img .img-overlayer .layer-content
{
    padding: 5rem;
}

.bg-img .img-overlayer .layer-content h1
{
    font-size: 50px;
    color: #fff;
    font-weight: normal;
}

.bg-img .img-overlayer .layer-content p
{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
}
.devider
{
    height: 5px;
    width: 30%;
    background-color: #FF4E00;
    border-radius: 10px;
    margin: 1rem 0rem;
}


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#FF4E00; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#FF4E00; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#FF4E00; }
    to 	{ width:0; background:transparent; }
}


@media only screen and (max-width: 1360px) {
    .bg-img .img-overlayer .layer-content
    {
        padding: 3rem;
    }
}

.gray-devider
{
    height: 2px;
    width: 25%;
    background-color: #CFCFCF;
    border-radius: 15px;
}

.submit-btn
{
    background-color: #EA5B29;
    padding: 0.5rem;
    color: #fff;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    outline: none;
    border: none;
    width: 100%;
    transition: 0.1s;
    text-transform: uppercase;
}
.submit-btn:focus
{
    outline: none;
}
.submit-btn:active
{
    outline: none;
    transform: scale(0.9);
}

.submit-btn:hover
{
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
}


/* new input style */
*, :before, :after {
    box-sizing: border-box;
}

/*.group {*/
/*    position: relative;*/
/*    margin-bottom: 15px;*/
/*}*/
/*input, textarea {*/
/*    background: none;*/
/*    color: gray;*/
/*    font-size: 18px;*/
/*    padding: 10px 10px 10px 10px;*/
/*    display: block;*/
/*    width:100%;*/
/*    border-radius: 4px;*/
/*    border: 1px solid #c6c6c6;*/
/*}*/
/*input:focus, textarea:focus {*/
/*    outline: none;*/
/*    border: 1px solid #313E48;*/
/*}*/
/*input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {*/
/*    top: -8px;*/
/*    font-size: 12px;*/
/*    color: #313E48;*/
/*    background-color: #fff;*/
/*    padding-left: 4px;*/
/*    padding-right: 4px;*/
/*}*/
/*input:focus ~ .bar:before, textarea:focus ~ .bar:before {*/
/*    width: 100%;*/
/*}*/
/*input[type="password"] {*/
/*    letter-spacing: 0.3em;*/
/*}*/
/*label {*/
/*    color: gray;*/
/*    font-size: 16px;*/
/*    font-weight: normal;*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*    left: 10px;*/
/*    top: 10px;*/
/*    transition: 300ms ease all;*/
/*}*/
/*.bar {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/
/*.bar:before {*/
/*    content: "";*/
/*    height: 2px;*/
/*    width: 0;*/
/*    bottom: 0px;*/
/*    position: absolute;*/
/*    background: #FF4E00;*/
/*    transition: 300ms ease all;*/
/*    left: 0%;*/
/*}*/
/*input.bb {*/
/*    transition: 300ms ease all;*/
/*}*/
/*input.bb:focus {*/
/*    border-bottom: 1px solid #63b05a;*/
/*}*/



.phone-layer
{
    position: relative;
}

.phone-layer #code
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px !important;
    height: 100%;
}

.wiz-control-phone
{
    background: none;
    color: gray;
    font-size: 18px;
    padding: 10px 10px 10px 7rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    outline: none;
}
.select-control
{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dropdownMenuButton
{
    width: 100px !important;
    border-right: 1px solid !important;
    height: 100% !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

#dropdownMenuButton:hover{
    cursor: pointer;
}
.dropdown-menu:hover
{
    cursor: pointer !important;
}

.wrap-content2
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
}
.wrap-content
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
}
#checkBox label
{
    all: unset !important;
    font-size: 13px !important;
}

#right-wiz
{
    min-height: 100vh;
}



.pass-visible
{
    position: relative;
}
.pass-visible .show-icon
{
    position: absolute;
    right: 10px;
    top: 18px;
    color: #707070;
    cursor: pointer;
}


.showpwd {
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
}

.div-size
{
    width: 60%;
}
.upper-login
{
    transform: translateY(-50%)
}
.free-account
{
    /*transform: translateY(30%);*/
}

.login-btn
{
    transform: translateY(200%);
}

.login-header
{
    font-size: 22px;
    font-weight: 500;
    color: #313E48;
}
.wrap-content .login-logo
{
    transform: translateY(50%);
}
@media only screen and (max-width: 1174px) {
    .wrap-content2 p
    {
        font-size: 1.5em !important;
    }
}
@media only screen and (max-width: 992px)  {
    .upper-login
    {
        transform: translateY(0);
    }
    .wrap-content
    {
        justify-content: space-around;
        /*min-height: 100% !important;*/
    }
    #right-wiz
    {
        min-height: auto !important;
    }
    .div-size
    {
        width: 80%;
    }
    .wrap-content .login-logo
    {
        /*transform: translateY(80%);*/
    }
}

@media only screen and (max-width: 767px) {
    .bg-img
    {
        height: 60vh !important;
        background-position: top;
    }
    .bg-img .img-overlayer
    {
        align-items: flex-end;
    }
    .bg-img .img-overlayer .layer-content
    {
        padding: 2rem;
    }
    .bg-img .img-overlayer .layer-content h1
    {
        font-size: 23px !important;
        margin-bottom: 1rem;
    }
    .bg-img .img-overlayer .layer-content p
    {
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    .wrap-content2 p
    {
        font-size: 1.2em !important;
        padding: 1rem 2rem !important;
        font-weight: bolder !important;
        margin-bottom: 0 !important;
    }
    .register-footer
    {
        transform: translateY(-60%);
    }

    .register-footer
    {
        transform: translateY(0);
        margin: 1rem 0rem;
    }
    .wrap-content2 img
    {
        margin: 1rem 0rem 0rem 0rem;
    }
    .free-account
    {
        transform: translateY(0);
        margin-bottom: 1rem;
    }
    .login-header
    {
        font-weight: bolder !important;
    }
}

@media only screen and (max-width: 600px) {
    .bg-img .img-overlayer .layer-content
    {
        padding: 1rem;
    }
    .bg-img .img-overlayer .layer-content h1
    {
        font-size: 34px;
    }
    .bg-img .img-overlayer .layer-content p
    {
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px) {
    .wrap-content .login-logo
    {
        transform: translateY(0);
    }
    .login-btn
    {
        transform: translateY(100%);
    }
}






/******************************************************/
.pure-material-textfield-outlined {
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #E5E5E5; /* Safari */
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: rgba(0 ,0 ,0 , 0.87);
    background: #fff;
    font-weight: 600;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /*caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
    transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: #E5E5E5;
    width: 100%;
    max-height: 100%;
    color: rgba(0, 0, 0, 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: #E5E5E5;
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
    border-color: #E5E5E5;
    border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
    border-top-color:#E5E5E5;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
    /*border-color: rgba(0, 0, 0, 0.87)*/
    background-color: #fff;
}

.pure-material-textfield-outlined > input:not(:focus):not(:placeholder-shown) {
    /*border-color: rgba(0, 0, 0, 0.87)*/
    border-top: none;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: #E5E5E5;
}

.pure-material-textfield-outlined > input.is-danger:not(:focus):placeholder-shown {
    border-top-color: #ED3125;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;

}

.pure-material-textfield-outlined > input.is-danger:focus:placeholder-shown + span::before,
.pure-material-textfield-outlined > input.is-danger:focus:placeholder-shown + span::after {
    border-top-color: #ED3125 !important;
    /*border-top-color: #ED3125;*/

}

.pure-material-textfield-outlined > input.is-danger:not(:placeholder-shown) + span::before,
.pure-material-textfield-outlined > input.is-danger:not(:placeholder-shown) + span::after {
    border-top-color: #ED3125 !important;
    /*border-top-color: #ED3125;*/

}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
    /*border-color: transparent;*/
    /*border-color: #E5E5E5;*/
    /*border-top-color: transparent;*/
    border-top: none;
    /*box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);*/
    outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
    color: black;
    /*background-color: #fff;*/
}

.pure-material-textfield-outlined > input.is-danger:focus + span {
    color: #ED3125;
    /*background-color: #fff;*/
}


.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
    border-top-color: #E5E5E5 !important;
    /*box-shadow: inset 0 1px var(--pure-material-safari-helper1);*/
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
    /*border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;*/
    border-top-color: transparent !important;
    /*color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);*/
    pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
    /*border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;*/
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
    /*border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;*/
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-outlined > input,
        .pure-material-textfield-outlined > input + span,
        .pure-material-textfield-outlined > textarea,
        .pure-material-textfield-outlined > textarea + span,
        .pure-material-textfield-outlined > input + span::before,
        .pure-material-textfield-outlined > input + span::after,
        .pure-material-textfield-outlined > textarea + span::before,
        .pure-material-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}


/*********************************/

.is-danger
{
    border-bottom:1px solid #ED3125 !important;
    border-left:1px solid #ED3125 !important;
    border-right:1px solid #ED3125 !important;
}
