/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


body
{
    overflow-x: hidden;
}

.wizard
{
    min-height: 100vh;
    background-image: url("../images/load-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.wizard .wizard-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.wizard .wizard-overlay .wizard-head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wizard .wizard-overlay .wizard-head .wizard-caption
{
    color: #fff !important;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}


.wizard .wizard-overlay .wiz-stepper
{
    background-color: #fff;
    border-radius: 10px;
    min-height: 50vh;
    width: 100%;
}


/*#hidden-indv*/
/*{*/
/*    display: none;*/
/*}*/






.setup-panel
{
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

/*.stepwizard-row:before {*/
/*    top: 14px;*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*    content: " ";*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: #ccc;*/
/*    z-order: 0;*/

/*}*/

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-circle {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
    background-color: #FFEDE5;
    color: #FF4E00;
    border-color: #FF4E00;
}

.active-circle {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
    background-color: #FFEDE5;
    color: #FF4E00;
    border-color:#FF4E00;
}

@media only screen and (max-width: 767px) {
    .wizard .wizard-overlay .wizard-head
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hide-me
    {
        display: none;
    }
}

.btn-primary
{
    background-color: #FF4E00 !important;
    color: #fff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* new input style */
*, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.group {
    position: relative;
    margin-bottom: 30px;
}
input, textarea {
    background: none;
    color: #000;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    /*width: 320px;*/
    /*border: none;*/
    border-radius: 4px;
    border: 1px solid #212529;
}
input:focus, textarea:focus {
    outline: none;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    top: -8px;
    font-size: 12px;
    color: #313E48;
    background-color: #fff;
    padding-left: 4px;
    padding-right: 4px;
}
input:focus ~ .bar:before, textarea:focus ~ .bar:before {
    width: 100%;
}
input[type="password"] {
    letter-spacing: 0.3em;
}
label {
    color: #212529;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}
.bar {
    position: relative;
    display: block;
    width: inherit;
}
.bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #FF4E00;
    -webkit-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
    left: 0%;
}
input.bb {
    -webkit-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}
input.bb:focus {
    border-bottom: 1px solid #63b05a;
}

.submit-btn
{
    background-color: #FF4E00;
    padding: 0.5rem;
    color: #fff;
    -webkit-box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
    outline: none;
    border: none;
    width: 200px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    border-radius: 7px;
}
.submit-btn:disabled
{
    background-color:rgba(255, 78, 0, 0.7);
    cursor: not-allowed;
}
.submit-btn:active
{
    outline: none;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.submit-btn:focus
{
    outline: none;
}

.submit-btn:hover
{
    -webkit-box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
}

.user-radio
{
    /*display: flex;*/
    /*align-items: center;*/
    padding: 0.6rem;
    background-color: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.fixed-width
{
    width: 100%;
}

#business-input
{
    display: none;
}
#website-input
{
    display: none;
}
.product-div
{
    width: auto;
    display: inline-block;
    padding: 0.5rem;
    background-color: #f1f1f1;
    color: #343E47;
    border-radius: 7px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    margin: 0.2rem 0.5rem;
}

.product-div:hover
{
    cursor: pointer;
    background-color: #FFEDE5;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.active-product
{
    border: 1px solid #FF4E00;
    background-color: #FFEDE5;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}


/* terms and condition */
.terms-div
{
    height: 30vh;
    overflow-y: scroll;
    width: 65%;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #707070;
}

.terms-footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    width: 65%;
    opacity: 0;
}
@media only screen and (max-width: 570px) {
    .terms-footer
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
/*.stepwizard-step*/
/*{*/
/*    display: flex !important;*/
/*    flex-direction: row !important;*/
/*}*/


#error-alert, #terms
{
    display: none;
}




#popmake-wrap {
    max-width:400px;
    margin:1em auto;
    font-family: sans-serif;
    font-size: 15px;
}
/* wraps */
.scrollwrap {
    position: relative;
    max-height: 40vh;
    height: 400px;
    margin-bottom: 1.5em;
}
.popupscroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 8px;
    overflow-y: scroll;

}
/* button */
.button-green {
    font-size: 1em;
    color: #fff;
    background: #7EB501;
    padding: .728em 1.62em;
    border: none;
    text-align: center;
    cursor:pointer;
    min-width: 8em;
    border-radius: .34em;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.button-green:hover, .button-green:active {
    background: #4B9A0C;
}
#popmake-wrap .button-green[disabled] {
    background: #AED15F;
    cursor: not-allowed;
}

/* scrollbar redesigned */
.popupscroll::-webkit-scrollbar {
    width: 8px;
    background-color: #eaeaea;
}
.popupscroll::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #4B9A0C;
}
.popupscroll::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: #eaeaea;
}
.popupscroll::-webkit-scrollbar-thumb:hover {
    background: #4B9A0C;
}
.popupscroll::-webkit-scrollbar-thumb:active {
    background: #4B9A0C;
}

/* different bg color for mobiles */
@media(min-width:768px) {
    .popupscroll::-webkit-scrollbar-thumb {
        background-color: #818181;
    }
}

.custom-select
{
    border: 1px solid #212529
}